@tailwind base;
@tailwind components;
@tailwind utilities;

/* Si quieres mantener algunas fuentes personalizadas, puedes agregarlas así: */
@layer base {
  html {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

html {
  scroll-behavior: smooth;
}
